#adminDiv {
    border: 2px solid black;
    padding: 10px;
}

.adminUser {
    display: none;
}


#mainPage {
    border: 2px solid black;
    padding: 20px;
}

.storyDiv {
    border: 2px solid black;
    max-width: 1000px;
    max-height: 500px;
}

#titleBox {
    text-align: center;
}

#contentBox {
    margin-left: 20px;
}

#nextStory {
    margin-left: 20px;
}


.commentDiv {
    border: 2px solid black;
}

.advertisementDiv {
    width: 500px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
}

#advertisementImage {
    width: 350px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

/* Modal Styling: */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .85);
    background-attachment: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #FFFFFF;
    opacity: 1.0;
    margin: 15% auto;
    padding: 20px;
    border: 1;
    width: 80%;
}

.modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modalClose:hover .modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}